.header {
  height: 400px;
  width: 100%;
  color: #f4f1ec;
  background-color: #b3aa00;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  margin-top: 120px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }

  .header {
    height: 400px;
    color: #f4f1ec;
    background-color: #b3aa00;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    margin-top: 15rem;
    margin-left: 4rem;
    margin-right: 10rem;
    padding: 3rem;
    width: 40%;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .avatar-name {
    margin-top: -2rem;
  }

  .container {
    padding-top: 10rem;
    padding-right: 5rem;
  }

  }

  @media only screen and (max-width: 1023px) {
  nav {
    background-color: #b3aa00;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");

  }
  }