.header {
  height: 400px;
  width: 100%;
  color: #f4f1ec;
  background-color: #b3aa00;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  margin-top: 120px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}