.new-tweet {
  width: 100%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items:normal;
}


.container button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: white;
}

.counter {
  float: right;
  font-family: 'Bungee', cursive;
}

.counter-error {
  color: red
}

form textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  width: 100%;
}